<?xml version="1.0" encoding="utf-16"?>
<UserSettings>
  <WindowTop>-16</WindowTop>
  <WindowLeft>-16</WindowLeft>
  <WindowWidth>1233</WindowWidth>
  <WindowHeight>683</WindowHeight>
  <WindowState>Maximized</WindowState>
  <ShowCustomizedSettingNamesOnly>false</ShowCustomizedSettingNamesOnly>
  <ShowScannedUnknownSettings>false</ShowScannedUnknownSettings>
  <HiddenSettingGroups>
    <string>7.5 - Indicators</string>
    <string>5 - Common</string>
    <string>1 - Compatibility</string>
    <string>0.2.1 - NVIDIA App</string>
    <string>Other</string>
    <string>Unknown</string>
    <string>7 - Stereo</string>
    <string>6 - SLI</string>
  </HiddenSettingGroups>
  <DisableUpdateCheck>true</DisableUpdateCheck>
</UserSettings>
